html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
  font-family: 'black';
  src: url('./fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'medium';
  src: url('./fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'regular';
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'light';
  src: url('./fonts/Roboto-Light.ttf');
}


body {

}

.logo {
  width: 150px;
  position: absolute;
  padding: 20px;
  z-index: 5;
}

.hero-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  min-height: 600px;
  background: black;
}

.video-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 90vh;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: 130%;
  height: auto;
  overflow: hidden;
  z-index: 1;
  opacity: 0.3;
}

.hero-copy {
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-copy h1 {
  color: #fff;
  font-family: 'black';
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-copy h2 {
  color: #fff;
  font-family: 'regular';
  font-size: 25px;
  margin-bottom: 20px;
  max-width: 650px;
  line-height: 1.4;
}

.cta {
  background: #9c3;
  color: #000;
  font-family: 'medium';
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s ease-in-out all;
}

.cta:hover {
  background: #76a517;
}
